h1 Welcome to The Club
h2 {{ myVar }}

a.requestLink(ng-click="testWithNoAuthentication()") testWithNoAuthentication
br
a.requestLink(ng-click="postUser()") postUser
br
a.requestLink(ng-click="putUser()") putUser
br
a.requestLink(ng-click="signIn()") logga in Pelle
br
a.requestLink(ng-click="sayHelloToAke()") Säg hej till The Club!
br
a.requestLink(ng-click="signOut()") Logga ut Pelle